body{
    font-family: "Arial";
    text-align: center;
    display: flex;
    justify-content: center;
}

.color-animate{
    font-weight: bold;
    animation: colorChange 5s linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes colorChange{
    0%{
        color: red;
    } 33%{
        color: green;
    } 66%{
        color: blue;
    } 100%{
        color: red;
    }
}

input, button {
    padding: 20px;
    margin: 10px;
}

#showWeather{
    margin-top: 5px;
    font-size: 18px;

}


